.classpath
.classes
.class
.project
.settings/
lib/
logs/
target/
#bin/
.DS_Store
.metadata
*.log
*.log.*
.idea/
*.iml
.vagrant/
.#*
.gitmessage.txt
out/
.lein*
.nrepl*
.checkstyle
rebel.xml
*.swp
*.lck
*.epoch
.springBeans
**/resources/local/
**/resources/dev/
**/resources/prod/
liuyi-im-config-prod.yaml
liuyi-im-backend/liuyi-im-backend.yaml
liuyi-im-tomato/liuyi-im-tomato.yaml
liuyi-im-gateway-sk/liuyi-im-gateway-sk.yaml
